{% extends "layout.html" %}

{% block content %}
  <h1>WebTodo</h1>

  {% if current_user.is_active %}
    <h2>Your List</h2>
    <div class="task">
      <div class="taskHeader">
        <h3>Item 0</h3>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </div>
      <p>This is the note</p>
    </div>
    <ul>
      <li><h3>Item 0</h3>
          <p>This is a note.</p></li>
      <li><h3>Item 1</h3></li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>
  {% else %}
    <p>Welcome to WebTodo!</p>
    <p>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('signup') }}">sign up</a>.</p>
  {% endif %}


{% endblock %}
