{% extends "layout.html" %}

{% block content %}
  <h1>WebTodo</h1>

  {% if current_user.is_active %}
    <h2>Your List</h2>
    {% if tasks != None %}
    <ul>
      {% for task in tasks %}
        <li class="task">
          <div class="taskHeader">
            <h3>{{ task.title }}</h3>
            <a href="#">Mark Complete</a>
            <a href="#">Edit</a>
            <a href="#">Delete</a>
          </div>
          {% if task.note != None %}
            <p>{{ task.note }}</p>
          {% endif %}
        </li>
      {% endfor %}

    </ul>

    {% endif %}
    <ul>
      <li class="task">
          <div class="taskHeader">
            <h3>Item 0</h3>
            <i>not complete</i>
            <a href="#">Mark Complete</a>
            <a href="#">Edit</a>
            <a href="#">Delete</a>
          </div>
          <p>This is the note</p>
      </li>

      <li class="task">
          <div class="taskHeader">
            <h3>Item 0</h3>
            <i>complete</i>
            <a href="#">Mark Incomplete</a>
            <a href="#">Edit</a>
            <a href="#">Delete</a>
          </div>
          <p>This is the note</p>
      </li>

    </ul>
  {% else %}
    <p>Welcome to WebTodo!</p>
    <p>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('signup') }}">sign up</a>.</p>
  {% endif %}


{% endblock %}
