{% extends "layout.html" %}

{% block content %}
  <h1>WebTodo</h1>

  {% if current_user.is_active %}
    <h2>Your List</h2>
    {% if tasks != None %}
    <ul>
      {% for task in tasks %}
        <li class="task">
          <div class="taskHeader">
            <h3>{{ task.title }}</h3>
            {% if task.complete %}
              <i>completed</i>
            {% else %}
              <i>not completed</i>
            {% endif %}
            <a href="{{ url_for('mark_task', task_id=task.id) }}">Mark {% if task.complete %} {{ 'in' }}{% endif %}complete</a>
            <a href="{{ url_for('edit_task', task_id=task.id) }}">Edit</a>
            <a href="#">Delete</a>
          </div>
          {% if task.note != None %}
            <p>{{ task.note }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

  {% else %}
    <p>Welcome to WebTodo!</p>
    <p>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('signup') }}">sign up</a>.</p>
  {% endif %}


{% endblock %}
