<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }} | WebTodo</title>
    {% else %}
    <title>Welcome to WebTodo</title>
    {% endif %}
    <link href="{{ url_for('static', filename='site.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ url_for('index') }}">home</a>
        {% if current_user.is_active %}
          <a href="{{ url_for('logout') }}">logout</a>
        {% else %}
          <a href="{{ url_for('login') }}">login</a>
          <a href="{{ url_for('signup') }}">sign up</a>
        {% endif %}
      </nav>
      {% if current_user.is_active %}
        <p>Welcome, {{ current_user.username }}</p>
      {% endif %}
    </header>

    <hr />
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

  </body>
</html>
