{% extends 'layout.html' %}


{% block content %}
  <h2>sign up</h2>
  <form action="" method="POST" name="login">
    {{ form.hidden_tag() }}

    {{ form.username(size=32, placeholder="username") }}<br />
    {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span><br />
    {% endfor %}
    {{ form.password(size=32, placeholder="password") }}<br />
    {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span><br />
    {% endfor %}
    {{ form.confirm_password(size=32, placeholder="confirm password")}}<br />
    {% for error in form.confirm_password.errors %}
      <span style="color: red;">[{{ error }}]</span><br />
    {% endfor %}
    {{ form.submit() }}
  </form>
{% endblock %}
